nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

.preview {
  color: aliceblue;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    200deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 83%,
    rgba(246, 71, 111, 1) 97%
  );
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 5px;
}

.ph-color::placeholder {
  color: #B4B4B4;
}